.custom-button-wrapper .custom-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button-wrapper .custom-btn {
  width: 130px;
  height: 40px;
  color:  #17181C;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1em;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
              7px 7px 20px 0px rgba(0, 0, 0, 0.1),
              4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.custom-button-wrapper .btn-3 {
  background: rgb(238, 0, 210);
  background: linear-gradient(0deg, rgb(252, 1, 160) 0%, #ff0149 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

.custom-button-wrapper .btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.custom-button-wrapper .btn-3::before,
.custom-button-wrapper .btn-3::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgb(255, 0, 174);
  transition: all 0.3s ease;
}

.custom-button-wrapper .btn-3::before {
  height: 0%;
  width: 2px;
}

.custom-button-wrapper .btn-3::after {
  width: 0%;
  height: 2px;
}

.custom-button-wrapper .btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.custom-button-wrapper .btn-3:hover::before {
  height: 100%;
}

.custom-button-wrapper .btn-3:hover::after {
  width: 100%;
}

.custom-button-wrapper .btn-3 span:hover {
  color: rgb(255, 0, 174);
}

.custom-button-wrapper .btn-3 span::before,
.custom-button-wrapper .btn-3 span::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(233, 47, 140);
  transition: all 0.3s ease;
}

.custom-button-wrapper .btn-3 span::before {
  width: 2px;
  height: 0%;
}

.custom-button-wrapper .btn-3 span::after {
  width: 0%;
  height: 2px;
}

.custom-button-wrapper .btn-3 span:hover::before {
  height: 100%;
}

.custom-button-wrapper .btn-3 span:hover::after {
  width: 100%;
}
